/*{
    margin: 0;
    padding: 0;
  }*/
  
  p{
    font-family: "Poppins", "Bebas Neue Regular", Impact, "sans-serif";
    font-size: 13px;
  }
  
  h1{
    font-family:"Bebas Neue Regular", Impact, "sans-serif";
    font-size: 24px;
  }

  /*h2{
    font-family:"Bebas Neue Regular", Impact, "sans-serif";
    font-size: 20px;
  }*/

  a{
    text-decoration: none;
  }
  
  .title-font{
    font-family:"Bebas Neue Regular", Impact, "sans-serif";
  }

  .nav-item-font{
    font-family: "Bebas Neue Regular", Impact, "sans-serif";
    font-size: 30px;
    padding:0px 20px;
  }
  /*Trackers*/

  .background-tracker1{
    background-color: teal;
  }

  .background-tracker2{
    background-color: rgb(26, 151, 1);
  }

  .background-tracker3{
    background-color: rgb(34, 0, 128);
  }

  .background-tracker4{
    background-color: rgb(37, 0, 71);
  }

  .navbar{
    background-color: white;
  }

  /*Cor principal*/
  .main-collor{
    background:#ff8995 !important;
    color: white;
  }
     
 /*Posição relativa*/ 
 .relative{
   position:relative;
 }

/*Página principal*/
/*Wrapper*/
.wrapper-mainpage{
    width:auto;
    height:1000px;
    background-image:url(Images/background-image-mountain.jpg);
    background-size:cover;
    background-attachment:scroll;
    background-repeat:no-repeat;
  }

.content-container-mainpage{
  max-width: 1500px;
  margin: 0 auto;
}
/*Título - Empregos no Japão*/
.mainpage-title{
  font-size: 8vmax;
  color: #fff;
  padding: 80px 10px 10px 10px;
}

/*Texto Empregos no Japão*/
.mainpage-p{
  font-family: 'Oswald', sans-serif;
  font-size: 2vmax;
  color: #fff;
  padding:30px 10px;
  text-align: left;
}

/*Container do botão*/
.cta-button{
  max-width: 740px;
  position: relative;
  padding: 20px 10px;
}

.btn-danger{
  background-color:#ff8995 !important; 
}

.btn:hover{
  background-color:#ff6070 !important; 
}

.texto-botao{
  font-family:"Bebas Neue Regular", Impact, "sans-serif"; 
  font-size: 2vmax;
}
/*Fim página principal*/

/*Segunda Página*/
/*Wrapper da segunda página na main page*/
  .wrapper-second-page{
    height: 1500px;
    width: auto;
    background-color: rgb(255, 255, 255);
  }
  .container-second-page{
    height: 350px;
    width: auto;
    background-color: rgb(255, 255, 255);
  }
  .container-second-page2{
    height: 500px;
    width: auto;
    background-color: rgb(255, 255, 255);
  }
.flex-box-container{
  display: flex;
  /*background-color: cadetblue;*/
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding: 40px 10px;
  margin: 0px 15px;
}

.item-box{
  /*background-color: chocolate;*/
  border:3px solid rgb(255, 103, 133);
  border-radius: 5%;
  min-height: 200px;
  max-width: 500px;
  position: relative;
}

.item-box2{
  /*background-color: chocolate;*/
  min-height: 200px;
  max-width: 500px;
  position: relative;
}

.item-box-title-container{
  position: relative;
}
.title-item-box{
  text-align: center;
  font-size: 50px;
  color: #2c2c2c;
  padding: 10px;
}
.image-item-box{
  justify-content: center;
  width: 500px;
}

.description-second-page{
  color: #2c2c2c;
  background-color: white;
  text-align: center;
  font-size: 2vh;
  max-width: 1000px;
  margin: 0px auto;
  padding: 0px 0px 20px;
}

div .item-box p{
  color: #2c2c2c;
  font-size: 15px;
  padding: 5px 15px;
  text-align: center;
}
/*Título da página de serviços*/
.page-title{
  font-family: "Bebas Neue Regular", "sans-serif";
  font-size: 100px;
  text-align: center;
  padding: 40px 200px 10px;
  color: #ff8993;
  background-color: white;
}
/*Fim da segunda página*/

/*Container da área de contato*/
  .contato-box{
    position: relative;
    padding: 20px 0px;
    width: 700px;
    height: 500px;
    margin: 0px auto;
    justify-content: center;
    background-color:white;
  }

/*Container da página de contato na main*/
  .container-contact{
    position: relative;
    height: 700px;
    width: auto;
    background-color:white;
  }
  
  .form-item{
    padding: 10px;
    border: 2px solid white;
    width: auto;
    margin: auto;
    justify-content: left;
  }

  .form-itemtext{
    padding: 10px;
    border: 2px solid white;
    width: auto;
    margin: auto;
    float: left;
  }

  .form-text{
    font-family: "Poppins";
    font-size: 22px;
    color: rgba(0, 0, 0, 0.596);
    width: auto;
  }

  .column-1{
    width: 350px;
    height:400x ;
    float: left;
  }

  .column-2{
    width: 350px;
    height: 400px;
    justify-content: left;
    float: left;
  }

  .button-box{
    size: 20px;
    margin:0px auto;
    background-color: white;
    color: black;
  }

  .button-padding{
    padding: 30px 200px;
    margin-left: 10px;
  }

  .button-text{
    font-size: 20px;
  }

  /*Página de contato*/

  .contact-title{
    font-family:"Bebas Neue Regular", "sans-serif";
    font-size: 100px;
    text-align: center;
    padding: 15px 0px 25px;
    position: relative;
  }

  .contato-box-container{
    padding: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 500px;
    background-color: lightsalmon;
  }

  .contato-container{
    width: auto;
    height: 1000px;
    background-color: maroon;
  }

  .contato-text{
    font-family: "Bebas Neue Regular", "sans-serif";
    font-size: 100px;
    text-align: center;
    padding: 40px 200px;
    background-color: #a341ff;
    color: white;
  }

  .text-box{
    height: 300px;
  }

  /*Footer*/

  .footer-wrapper{
    height: 125px;
    width: auto;
    background-color:rgb(255, 103, 133);
    background-image: linear-gradient(to top, rgba(255,0,0,0.5), rgba(255, 103, 133,1));
  }

  .footer-container{
    padding: 25px;
    height: 100px;
    margin: 10px 0px;
    float: left;
  }

  .footer-text{
    font-family: "poppins", "Helvetica", "sans-serif";
    color: white;
    font-size: 15px;
  }
  