/*Formatação Padrão*/
body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, p{
  font-family: "PoppinsExtraLight", "Poppins", "Arial", sans-serif;
  color: #252525;
  padding: 0;
  margin: 0.3em;
}

p {
  font-size: 1em;
}

h1{
  font-size: 3em;
}

h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.4em;
}

.destaque{
  color: rgb(255, 73, 73);
}

.clearfix:after{
  content: ' ';
  display: block;
  clear: both;
}

.spanHidden{
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}

.hidden{
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  display: block;
}


/*Header*/

.header{
  background-color:snow; 
  width: 100%;
}

.header__logo{
  text-align: center;
  margin: 0px;
  padding: 0.5em 0 0 0.5em;
  display: block;
}

.js .header__logo{
  float: left;
}

.header__logo{
  width: 5em;
}

.js .header__btnMenu{
  float: right;
  margin: 1.5em;
  background: transparent;
  border: none;
  font-size: 0.875em;
}

/*Nav*/

.header__nav{
  clear:left;
}

.header__nav ul{
  margin: 0;
  padding: 0;
}

.header__nav li{
  list-style-type: none;
  background: rgb(255, 73, 73);
  text-align: center;    
  border-bottom: 1px dotted rgba(255, 255, 255, 1);
}
.header__nav a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 0.75em;
  font-weight: 600;
  display: block;
  padding: 1.56em 0;
  transition: 0.3s ease;
  font-family: "Poppins", "Impact","Arial", sans-serif;
}
.header__nav a:hover{
  background-color: rgb(255, 53, 53);
  color: white;
}


/*Página principal*/

.apresentacao{
  text-align: center;
  padding: 0px;
}

.apresentacao__image{
  width:auto;
  height:21em;
  background-image: url(../Images/background-image-mountain3.jpg);
  background-size:cover;
  background-attachment:scroll;
  background-repeat:no-repeat;
  background-position: center;

}

.apresentacao__image h1{
  font-family: "Bebas Neue Regular", "Impact", "Arial", sans-serif;
  font-size: 3.6em;
  padding: 1.0em 0 0 0.3em;
  color: white;
  margin: 0;
  text-align: left;
  text-shadow: 4px 3px 8px rgb(99, 99, 99);
}

/*Quem somos*/
.sobrenos{
  /*background-image: url(../Images/FLOR.jpg);*/
}

.sobrenos img{
  padding-left: 1em;
  margin: 0px;
  height: 21em;
  float: right;
}

.sobrenos p{
  height: 15em;
  /*max-width: 10em;*/
  font-size: 1em;
  float: right;
  padding: 2em 0 0 2em;
}

.quemsomos {
  padding: 1em;
}

.cards__spacing{
  padding: 2em;
}

.quemsomos article{
  display: inline-block;
  padding-top: 0.125em;
  text-align: justify;
}
.quemsomos img{
  padding: 1em 1em;
  height: 14.3em;
  float: left;
}

.cards{
  padding: 1.3em;
  border-radius: 10%;
  box-shadow:4px 3px 8px rgb(99, 99, 99);;
}

.background-image-nossosservicos{
 background-image: url(../Images/Japão.png);
}

.NossosServicos__text{
  padding: 2em;
  background-color: rgb(255, 73, 73);
  border-radius: 0% 10% 10% 0%;
}

.NossosServicos__text p{
  color: white;
}

.NossosServicos__text h3{
  color: white;
}

.wrapper__contato{
  background-color: rgb(41, 41, 41);
}

.contato{
  text-align: center;
  padding: 1em 0;
}

.contato h2{
  font-family: "Bebas Neue Regular", "Impact", "Arial", sans-serif;
  color: white;
  padding: 1.5em 0em 0em;
  font-size: 5em;
}

.contato label{
  color: white;
  font-size: 1em;
  font-family: "Poppins", "Arial", sans-serif;
  padding: 0 0.5em;
}

.contato input{
  padding: 1em;
}

.input__wrapper{
  padding: 0.5em;
}


.nome{
  display: inline-block;
}

.maps{
  width: 100%;
  height: 20em;
}

.contato label, input{
  display: block;
}

.divemail{
  text-align: left;
}

#nome, #email, #mensagem{
  width: 100%;
}

#mensagem{
  height: 5em;
}

.mailrow-2, .mailrow-1{
  padding-bottom: 1em;
}

.mailbutton{
  background: rgb(255, 73, 73);
  color: white;
  padding: 0.2em 0 0.2em 0;
  width: 100%; 
  transition: 0.3s ease;
  font-family: "Bebas Neue Regular", "Impact", "Arial", sans-serif;
  font-size: 2.5em;
  border: none;
}

.mailbutton:hover{
  background: rgb(255, 55, 55);   
  cursor: pointer;
  border: none;
}

footer{
  background: #84bcec;
  text-align: center;
}

footer li{
  display: inline-block;
  padding-right: 0.1em;
  list-style-type: none;
}

.footer-ul-icons{
  font-size: 1.25em;
  display: inline-block;
  list-style: none;
}

.footer-copyright{
  font-size: 0.70em;
  display: inline-block;
}

@media screen and (min-width: 48.75em) /* 780px */
{
    .header__btnMenu{
        display: none;
    }

    .header__logo{
        float: none;
        display: inline-block;
    }

    .js .header__logo{
        float: none;
    }
   
    .header__nav{
        display: inline-block;
    }


    .header__nav{
        background: transparent;
        float: right;
        margin-top: 4em;
    }
    .header__nav ul{
        margin: 0;
        padding: 0;
    }
    .header__nav li{
        display: inline-block;
        border: 0;
    }
    .header__nav a{
        color: #276296;
        background: white;
        padding: 0.7em;
    }
    .header__nav a:hover{
        color: #E16D71;
        background: #b2d1ec;
    }

    .quemsomos img{
        height: 3.5em;
    }

    .quemsomos p{
        font-size: 0.9em;
    }

    .quemsomos-col{
        width: 29%;
        margin: 2%;
        float: left;
    }

    .contato p{
        font-size: 1.25em;
    }

    .mailrow-1{
        width: 98%;
        margin-right: 2%;
        float: left;
    }
    .mailrow-2{
        width: 48%;
        margin-right: 2%;
        float: left;
    }

    footer{
        text-align: right;
    }
    .footer-copyright {
        margin-right: 1em;
    }
}


  
  